[submodule "libflex/FLEX"]
	path = libflex/FLEX
	url = https://github.com/FLEXTool/FLEX
[submodule "zxPluginsInject"]
	path = zxPluginsInject
	url = https://github.com/asdfzxcvbn/zxPluginsInject
[submodule "classic-branding"]
	path = classic-branding
	url = https://github.com/gingerbeardman/twitter-classic-branding
